



@{
    ViewBag.Title = "TableList";
}

<h2>TableList</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Password</td>
            </tr>
        }
    </tbody>
    <tr>
        <a href="/Db/Index"> Click to see back </a>
    </tr>

</table>