

@{
    ViewBag.Title = "Grade";
}

<h2>Grade Report</h2>

<table style="border=2;align-content=center;">
    <tr>
        <td>SSC</td>
        <td>GPA 5</td>
    </tr>
    <tr>
        <td>HSC</td>
        <td>GPA 5</td>
    </tr>
    <tr>
        <td>BSc</td>
        <td>CGPA 3.94</td>
    </tr>
</table>
<a href="/Student/Index">Index</a>
<a href="/Student/Project">Project</a>
<a href="/Student/Grade">Grade</a>