
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h1>Name: Kazi Tanzizul Haque</h1>
<h1>ID: 22-47783-2</h1>
<a href="/Student/Index">Index</a>
<a href="/Student/Project">Project</a>
<a href="/Student/Grade">Grade</a>

