
@{
    ViewBag.Title = "Project";
}

<h2>Project</h2>

<table style="border=2;align-content=center;">
    <tr>
        <td>Java</td>
        <td>Bridge tole management system</td>
    </tr>
    <tr>
        <td>C#</td>
        <td>Electronic voting system</td>
    </tr>
    <tr>
        <td>WebTech</td>
        <td>Learning website</td>
    </tr>
</table>
<a href="/Student/Index">Index</a>
<a href="/Student/Project">Project</a>
<a href="/Student/Grade">Grade</a>
